APP_NAME=ms-bse-core-user
ENABLE_DOCS=true
DATABASE_URL="postgresql://postgres@localhost:5432/bse_core"
API_KEY="your-secret-api-key"
PORT=3000
NODE_ENV=development
JWT_SECRET="your-long-random-jwt-secret"
